<!DOCTYPE html>
<html lang="zxx">


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Kobone- Bootstrap Template</title>
	<!-- Standard -->
	<link rel="shortcut icon" href="assets/images/ficon.png">
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
	<!-- Dropdownhover CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-dropdownhover.min.css" type="text/css">
	<!-- fonts awesome -->
	<link rel="stylesheet" href="assets/font/css/font-awesome.min.css" type="text/css">
	<!-- Plugin CSS -->
	<link rel="stylesheet" href="assets/css/animate.min.css" type="text/css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
	<!-- slider CSS -->
	<link rel="stylesheet" href="assets/css/slider.css" type="text/css">
	<!-- Owl Carousel Assets -->
	<link href="assets/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="assets/owl-carousel/owl.theme.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>

	<!-- Preloader -->
	<div id="preloader">
		<div id="loading"></div>
	</div>

	<header class="hide-bg">
		<!-- header -->
		<div id="mainNav" class="navbar-fixed-top">
			<div class="container">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="logo"> KOB<span>one</span> </div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-9">
					<!--  nav  -->
					<nav class="navbar navbar-inverse navbar-default">

						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations=" fadeInLeft fadeInUp fadeInRight">
                            <ul class="nav navbar-nav">

                              <li class="menu-item dropdown">
                                <a href="index.html">Home</a>

                              </li>
                              <li><a href="coupons.html">COUPONS & DEALS</a></li>
                                <li><a href="stores.blade.php">STORS</a></li>
                                <li><a href="categories.html">CATEGORIES</a></li>

                              <li><a href="news.html">BLOG</a></li>

                              <li><a href="contact.html">CONTACT</a></li>
                              <li>
                                    <a href="#" data-toggle="modal" data-target=".popup1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>


                            </ul>
                            <!-- /.navbar-collapse -->
                        </div>
					</nav>
					<!--  /nav  -->
					<!-- search-popup -->
					<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content search-popup">
								<div class="search-outer">
									<div class="row">
										<div class="col-md-11">
											<input type="text" placeholder="Search for products..." />
										</div>
										<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /search-popup -->
				</div>
			</div>
		</div>
		<!-- /header -->

        <!-- header bg -->
		<div class="header-bg">
			<div class="container">
				<div class="header-text">
					<h1 class="wow slideInDown" data-wow-delay="300ms" data-wow-duration="1500ms">Only the best coupons</h1>
					<h2 class="wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">Over 20 000+ deals. Grab one now!</h2>
					<div class="header-search">
						<input type="text" placeholder="Search For Coupons... " />
						<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
					</div>
					<a href="#featured" class="mouse-icon"><img src="assets/images/mouse-icon.png" alt="mouse-icon" /></a>
				</div>
			</div>
		</div>
		<!-- header bg end -->


	</header>

	<section class="coupons top-view">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<!-- top-view-box -->
					<div class="top-view-box wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
						<!-- top-view-text -->
						<div class="top-view-text">
							<div class="col-md-3"> <span>
      								<i class="fa fa-star" aria-hidden="true"></i>
      							</span> </div>
							<div class="col-md-9"> <strong>Car</strong>
								<ul>
									<li><a href="#">Car Parts <span>(1)</span></a></li>
									<li><a href="#">Car <span>(1)</span></a></li>
									<li><a href="#">Motobikes <span>(1)</span></a></li>
									<li><a href="#">Rentacar <span>(1)</span></a></li>
									<li><a href="#">Wanted <span>(1)</span></a></li>
								</ul>
							</div>
						</div>
						<!-- /top-view-text -->
					</div>
					<!-- /top-view-box -->
				</div>
				<div class="col-md-4">
					<!-- top-view-box -->
					<div class="top-view-box wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
						<!-- top-view-text -->
						<div class="top-view-text">
							<div class="col-md-3"> <span>
      								<i class="fa fa-star" aria-hidden="true"></i>
      							</span> </div>
							<div class="col-md-9"> <strong>Hotels</strong>
								<ul>
									<li><a href="#">Artists <span>(1)</span></a></li>
									<li><a href="#">Classes <span>(1)</span></a></li>
									<li><a href="#">Events & Nightlife <span>(1)</span></a></li>
									<li><a href="#">Hostel <span>(1)</span></a></li>
									<li><a href="#">Hotel Stuff <span>(1)</span></a></li>
								</ul>
							</div>
						</div>
						<!-- /top-view-text -->
					</div>
					<!-- /top-view-box -->
				</div>
				<div class="col-md-4">
					<!-- top-view-box -->
					<div class="top-view-box wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
						<!-- top-view-text -->
						<div class="top-view-text">
							<div class="col-md-3"> <span>
      								<i class="fa fa-star" aria-hidden="true"></i>
      							</span> </div>
							<div class="col-md-9"> <strong>Job</strong>
								<ul>
									<li><a href="#">Accountancy <span>(1)</span></a></li>
									<li><a href="#">Banking <span>(1)</span></a></li>
									<li><a href="#">Managerment <span>(1)</span></a></li>
									<li><a href="#">Secretarial & PA <span>(1)</span></a></li>
									<li><a href="#">Voluntary Work <span>(1)</span></a></li>
								</ul>
							</div>
						</div>
						<!-- /top-view-text -->
					</div>
					<!-- /top-view-box -->
				</div>
				<div class="col-md-4">
					<!-- top-view-box -->
					<div class="top-view-box wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
						<!-- top-view-text -->
						<div class="top-view-text">
							<div class="col-md-3"> <span>
      								<i class="fa fa-star" aria-hidden="true"></i>
      							</span> </div>
							<div class="col-md-9"> <strong>Real Estate</strong>
								<ul>
									<li><a href="#">Appartment <span>(1)</span></a></li>
									<li><a href="#">For Rent <span>(1)</span></a></li>
									<li><a href="#">For Sale <span>(1)</span></a></li>
									<li><a href="#">Land & Estates <span>(1)</span></a></li>
									<li><a href="#">To Share <span>(1)</span></a></li>
								</ul>
							</div>
						</div>
						<!-- /top-view-text -->
					</div>
					<!-- /top-view-box -->
				</div>
				<div class="col-md-4">
					<!-- top-view-box -->
					<div class="top-view-box wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
						<!-- top-view-text -->
						<div class="top-view-text">
							<div class="col-md-3"> <span>
      								<i class="fa fa-star" aria-hidden="true"></i>
      							</span> </div>
							<div class="col-md-9"> <strong>Restaurant</strong>
								<ul>
									<li><a href="#">Cafe <span>(1)</span></a></li>
									<li><a href="#">Fast Food <span>(1)</span></a></li>
									<li><a href="#">Food Truck <span>(1)</span></a></li>
									<li><a href="#">Pubs <span>(1)</span></a></li>
									<li><a href="#">Restraunt <span>(1)</span></a></li>
								</ul>
							</div>
						</div>
						<!-- /top-view-text -->
					</div>
					<!-- /top-view-box -->
				</div>
				<div class="col-md-4">
					<!-- top-view-box -->
					<div class="top-view-box wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
						<!-- top-view-text -->
						<div class="top-view-text">
							<div class="col-md-3"> <span>
      								<i class="fa fa-star" aria-hidden="true"></i>
      							</span> </div>
							<div class="col-md-9"> <strong>Services</strong>
								<ul>
									<li><a href="#">Business <span>(1)</span></a></li>
									<li><a href="#">Childcare <span>(1)</span></a></li>
									<li><a href="#">Cleaning <span>(1)</span></a></li>
									<li><a href="#">Clothing <span>(1)</span></a></li>
									<li><a href="#">Voluntary Work <span>(1)</span></a></li>
								</ul>
							</div>
						</div>
						<!-- /top-view-text -->
					</div>
					<!-- /top-view-box -->
				</div>
			</div>
			<div>
			</div>
		</div>
	</section>

	<section class="welcome">
		<div class="container">
			<!-- title -->
			<div class="tilte">
				<h2>popular <span>STORES</span></h2>
			</div>
			<!-- /title -->
			<div class="row">
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo2.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo3.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo4.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo5.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo6.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo2.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo3.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo4.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo5.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
				<div class="col-md-2">
					<!-- popular-box -->
					<div class="popular-box">
						<!-- welcome-image -->
						<div class="popular-image">
							<img src="assets/images/store-logo6.jpg" alt="welcom-img1" />
							<!-- popular-hover -->
							<div class="popular-hover">
								50
								<br/> Coupons Available
							</div>
							<!-- /popular-hover -->
						</div>
						<!-- /popular-image -->
					</div>
					<!-- /popular-box -->
				</div>
			</div>
		</div>
	</section>

	<section class="prallax-bg">
		<div class="container">
			<div class="col-md-6">
				<div class="prallax-text">
					<h4>LOREM IS ALWAYS WITH YOU</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.r sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. At, consectetuer adipiscing elit. Aenean commodo lig</p> <a href="#"><i class="fa fa-android" aria-hidden="true"></i> GOOGLE PLAY</a> <a href="#"><i class="fa fa-apple" aria-hidden="true"></i> APP STROEY</a> </div>
			</div>
		</div>
	</section>

	<footer>
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>SUPPORT </h2>
						<ul>
							<li><a href="#">Using A Coupon</a></li>
							<li><a href="#">Submitting A Coupon</a></li>
							<li><a href="#">Managing My Account </a></li>
							<li><a href="#">Merchant Help</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>PAGES </h2>
						<ul>
							<li><a href="#">Using A Coupon</a></li>
							<li><a href="#">Submitting A Coupon</a></li>
							<li><a href="#">Managing My Account </a></li>
							<li><a href="#">Merchant Help</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>CONTACT</h2>
						<ul>
							<li>
								<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
								<div class="ftext">+01 123 456 78
									<br/> +01 123 556 89</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
								<div class="ftext">Info@OurDomain.Com</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
								<div class="ftext">09 Design Street, Mitri, Victoria, Australia.</div>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3 col-xs-12">
						<h2>SUBSCRIBE</h2>
						<p>tetuer adipiscing elit. Aenean comm ligula eget dolor. Aenean massa odo ligula eget dolor. </p>
						<div class="subscribe">
							<input type="text" placeholder="Address" /> <a href="#">GO</a> </div>
					</div>
				</div>
				<!-- copayright -->
				<div class="copayright">
					<div class="copayright-left">kobone 2017 Designed by envato</div>
					<div class="copayright-right">
						<ul class="socail-icon">
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- /copayright -->
			</div>
		</div>
		<!-- /footer -->
	</footer>

	<div class="scroll-to-top scroll-to-target" data-target=".hide-bg"><span class="icon fa fa-angle-up"></span></div>
	<!-- jQuery -->
	<script src="assets/js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-dropdownhover.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/jquery.fittext.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<!--  countTo JavaScript  -->
	<script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
	<!--  Custom Theme JavaScript  -->
	<script src="assets/js/custom.js"></script>
	<!-- owl carousel -->
	<script src="assets/owl-carousel/owl.carousel.js"></script>
</body>

</html>
