<!DOCTYPE html>
<html lang="zxx">


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Kobone- Bootstrap Template</title>
	<!-- Standard -->
	<link rel="shortcut icon" href="assets/images/ficon.png">
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
	<!-- Dropdownhover CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-dropdownhover.min.css" type="text/css">
	<!-- fonts awesome -->
	<link rel="stylesheet" href="assets/font/css/font-awesome.min.css" type="text/css">
	<!-- Plugin CSS -->
	<link rel="stylesheet" href="assets/css/animate.min.css" type="text/css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
	<!-- slider CSS -->
	<link rel="stylesheet" href="assets/css/slider.css" type="text/css">
	<!-- Owl Carousel Assets -->
	<link href="assets/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="assets/owl-carousel/owl.theme.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="loading"> </div>
	</div>
	<header class="hide-bg">
		<!-- header -->
		<div id="mainNav" class="navbar-fixed-top">
			<div class="container">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="logo"> KOB<span>one</span> </div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-9">
					<!--  nav  -->
					<nav class="navbar navbar-inverse navbar-default">

						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations=" fadeInLeft fadeInUp fadeInRight">
                            <ul class="nav navbar-nav">

                              <li class="menu-item dropdown">
                                <a href="index.html">Home</a>

                              </li>
                              <li><a href="coupons.html">COUPONS & DEALS</a></li>
                                <li><a href="stores.blade.php">STORS</a></li>
                                <li><a href="categories.html">CATEGORIES</a></li>

                              <li><a href="news.html">BLOG</a></li>

                              <li><a href="contact.html">CONTACT</a></li>
                              <li>
                                    <a href="#" data-toggle="modal" data-target=".popup1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>


                            </ul>
                            <!-- /.navbar-collapse -->
                        </div>
					</nav>
					<!--  /nav  -->
					<!-- search-popup -->
					<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content search-popup">
								<div class="search-outer">
									<div class="row">
										<div class="col-md-11">
											<input type="text" placeholder="Search for products..." />
										</div>
										<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /search-popup -->
				</div>
			</div>
		</div>
		<!-- /header -->

        <!-- header bg -->
		<div class="header-bg">
			<div class="container">
				<div class="header-text">
					<h1 class="wow slideInDown" data-wow-delay="300ms" data-wow-duration="1500ms">Only the best coupons</h1>
					<h2 class="wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">Over 20 000+ deals. Grab one now!</h2>
					<div class="header-search">
						<input type="text" placeholder="Search For Coupons... " />
						<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
					</div>
					<a href="#featured" class="mouse-icon"><img src="assets/images/mouse-icon.png" alt="mouse-icon" /></a>
				</div>
			</div>
		</div>
		<!-- header bg end -->


	</header>
	<section class="list-store">
		<!-- list-store -->
		<div class="container">
			<div class="row">
				<!-- mapt -->
				<div class="col-sm-12 col-md-12">
					<div class="map">
						<!--  map  -->
						<!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
						<div id="map"></div>
						<!-- /map end -->
					</div>
				</div>
				<!-- map end -->
				<div class="col-sm-8 col-md-8">
					<div class="row">
						<form role="form" name="ajax-form" id="contact-form2" action="https://formsubmit.io/send/90aa5128-c301-47bf-ae81-794fa4c07dda" method="post" class="contact-form">
							<input name="_redirect" id="name" value="http://zcube.in/wrapbootstrap/creations//thankyou.html" type="hidden">
							<div class="col-md-12">
								<h2>SEND MESSAGE</h2>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group">
									<input class="form-control" id="name2" name="name" placeholder="Your name" value="" required="" type="text">
								</div>
								<!-- /Form-name -->
							</div>

							<div class="col-sm-6 col-md-6">
								<div class="form-group">
									<input class="form-control" id="email" name="email" placeholder="Your email" value="" required="" type="email">
								</div>
								<!-- /Form-email -->
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group">
									<input class="form-control" id="phone" name="phone" placeholder="phone" value="" required="" type="text">
								</div>
								<!-- /Form-subject -->
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group">
									<input class="form-control" id="subject" name="subject" placeholder="Your subject" value="" required="" type="text">
								</div>
								<!-- /Form-subject -->
							</div>
							<div class="col-sm-12 col-md-12">
								<div class="form-group">
									<textarea class="form-control" id="message" name="message" rows="5" placeholder="Message" required></textarea>
								</div>
								<!-- /Form Msg -->
							</div>
							<div class="col-md-12">
								<div class="text-center">
									<button type="submit" class="btn btn-custom" id="send">Submit</button>
								</div>
								<!-- /col -->
							</div>
							<!-- /row -->
						</form>
					</div>
				</div>
				<div class="col-sm-4 col-md-4">
					<!-- contact-info -->
					<div class="contact-info">
						<h4>additional info</h4>
						<p>commodo ligula eget dolor. Aenean do ldo lmalignean commodo l eget dolor. Aenean malignean commodo</p>
						<h4>street address</h4>
						<p>ligula eget dolor. Adoleget dolege
							<br/> t dolr. A</p>
						<h4>contact</h4>
						<ul>
							<li><i class="fa fa-phone" aria-hidden="true"></i> 0123 321 0122</li>
							<li><i class="fa fa-envelope" aria-hidden="true"></i> info@gmail.com</li>
							<li><i class="fa fa-phone" aria-hidden="true"></i> 0123 321 0122</li>
						</ul>
					</div>
					<!-- /contact-info -->
				</div>
			</div>
		</div>
	</section>
	<footer>
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>SUPPORT </h2>
						<ul>
							<li><a href="#">Using A Coupon</a></li>
							<li><a href="#">Submitting A Coupon</a></li>
							<li><a href="#">Managing My Account </a></li>
							<li><a href="#">Merchant Help</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>PAGES </h2>
						<ul>
							<li><a href="#">Using A Coupon</a></li>
							<li><a href="#">Submitting A Coupon</a></li>
							<li><a href="#">Managing My Account </a></li>
							<li><a href="#">Merchant Help</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>CONTACT</h2>
						<ul>
							<li>
								<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
								<div class="ftext">+01 123 456 78
									<br/> +01 123 556 89</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
								<div class="ftext">Info@OurDomain.Com</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
								<div class="ftext">09 Design Street, Mitri, Victoria, Australia.</div>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3 col-xs-12">
						<h2>SUBSCRIBE</h2>
						<p>tetuer adipiscing elit. Aenean comm ligula eget dolor. Aenean massa odo ligula eget dolor. </p>
						<div class="subscribe">
							<input type="text" placeholder="Address" /> <a href="#">GO</a> </div>
					</div>
				</div>
				<!-- copayright -->
				<div class="copayright">
					<div class="copayright-left">kobone 2017 Designed by envato</div>
					<div class="copayright-right">
						<ul class="socail-icon">
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- /copayright -->
			</div>
		</div>
		<!-- /footer -->
	</footer>
	<div class="scroll-to-top scroll-to-target" data-target=".hide-bg"><span class="icon fa fa-angle-up"></span></div>
	<!-- jQuery -->
	<script src="assets/js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-dropdownhover.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/jquery.fittext.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<!--  countTo JavaScript  -->
	<script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
	<!--  Custom Theme JavaScript  -->
	<script src="assets/js/custom.js"></script>
	<!-- owl carousel -->
	<script src="assets/owl-carousel/owl.carousel.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO2fJ8DfdyKRIvmxp96MAG6BeNiCX27lQ&amp;callback=initMap"></script>
	<script src="assets/js/map.js"></script>
</body>

</html>
