<!DOCTYPE html>
<html lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Kobone- Bootstrap Template</title>
    <!-- Standard -->
    <link rel="shortcut icon" href="assets/images/ficon.png">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <!-- Dropdownhover CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-dropdownhover.min.css" type="text/css">
    <!-- fonts awesome -->
    <link rel="stylesheet" href="assets/font/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <!-- slider CSS -->
    <link rel="stylesheet" href="assets/css/slider.css" type="text/css">
    <!-- Owl Carousel Assets -->
    <link href="assets/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="loading"> </div>
    </div>
    <header class="hide-bg">
		<!-- header -->
		<div id="mainNav" class="navbar-fixed-top">
			<div class="container">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="logo"> KOB<span>one</span> </div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-9">
					<!--  nav  -->
					<nav class="navbar navbar-inverse navbar-default">
                    
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
                        
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations=" fadeInLeft fadeInUp fadeInRight">
                            <ul class="nav navbar-nav">
                              
                              <li class="menu-item dropdown">
                                <a href="index.html">Home</a>
                              
                              </li>
                              <li><a href="coupons.html">COUPONS & DEALS</a></li>
                                <li><a href="shops.html">STORS</a></li>
                                <li><a href="categories.html">CATEGORIES</a></li>
                             
                              <li><a href="news.html">BLOG</a></li>
                              
                              <li><a href="contact.html">CONTACT</a></li>
                              <li>
                                    <a href="#" data-toggle="modal" data-target=".popup1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>
                               

                            </ul>
                            <!-- /.navbar-collapse -->
                        </div>
					</nav>
					<!--  /nav  -->
					<!-- search-popup -->
					<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content search-popup">
								<div class="search-outer">
									<div class="row">
										<div class="col-md-11">
											<input type="text" placeholder="Search for products..." />
										</div>
										<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /search-popup -->
				</div>
			</div>
		</div>
		<!-- /header -->
		
        <!-- header bg -->
		<div class="header-bg">
			<div class="container">
				<div class="header-text">
					<h1 class="wow slideInDown" data-wow-delay="300ms" data-wow-duration="1500ms">Only the best coupons</h1>
					<h2 class="wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">Over 20 000+ deals. Grab one now!</h2>
					<div class="header-search">
						<input type="text" placeholder="Search For Coupons... " />
						<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
					</div>
					<a href="#featured" class="mouse-icon"><img src="assets/images/mouse-icon.png" alt="mouse-icon" /></a>
				</div>
			</div>
		</div>
		<!-- header bg end -->

        
	</header>
	<section class="coupons">
        <div class="container">
            <!-- search-box-coupons -->
            <div class="search-box-coupons">
                <div class="row">
                    <div class="col-md-9">
                        <input placeholder="Search For Coupons... " type="text">
                        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">BROWSE CATEGORIES</a>
                    </div>

                </div>

            </div>
            <!-- /search-box-coupons -->
            <div class="row">
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo2.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo3.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo4.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo2.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo3.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo4.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo2.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo3.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="col-md-3">
                    <!-- featured-coupons-box -->
                    <div class="featured-coupons-box">
                        <!-- featured-coupons-images -->
                        <div class="featured-coupons-images">
                            <img src="assets/images/feature-logo4.jpg" alt="feature-logo" />
                        </div>
                        <!-- /featured-coupons-images -->
                        <!-- featured-coupons-text -->
                        <div class="featured-coupons-text">
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <h6>Save 5s Next from Brand 2016</h6>
                            <p>This is another awesome coupon code in 2016 from Brand.</p>
                            <a href="#"><img src="assets/images/cupon-icon.png" alt="cupon-icon" /> Show Code</a>
                            <div class="date">Expire : 15/07/2016</div>
                            <div class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</div>
                        </div>
                    </div>
                    <!-- /featured-coupons-text -->
                    <!-- featured-coupons-box -->
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="pagination">
                            <li class="active"><a herf="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">20</a></li>
                            <li class="active"><a herf="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>SUPPORT </h2>
						<ul>
							<li><a href="#">Using A Coupon</a></li>
							<li><a href="#">Submitting A Coupon</a></li>
							<li><a href="#">Managing My Account </a></li>
							<li><a href="#">Merchant Help</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>PAGES </h2>
						<ul>
							<li><a href="#">Using A Coupon</a></li>
							<li><a href="#">Submitting A Coupon</a></li>
							<li><a href="#">Managing My Account </a></li>
							<li><a href="#">Merchant Help</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>CONTACT</h2>
						<ul>
							<li>
								<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
								<div class="ftext">+01 123 456 78
									<br/> +01 123 556 89</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
								<div class="ftext">Info@OurDomain.Com</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
								<div class="ftext">09 Design Street, Mitri, Victoria, Australia.</div>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3 col-xs-12">
						<h2>SUBSCRIBE</h2>
						<p>tetuer adipiscing elit. Aenean comm ligula eget dolor. Aenean massa odo ligula eget dolor. </p>
						<div class="subscribe">
							<input type="text" placeholder="Address" /> <a href="#">GO</a> </div>
					</div>
				</div>
				<!-- copayright -->
				<div class="copayright">
					<div class="copayright-left">kobone 2017 Designed by envato</div>
					<div class="copayright-right">
						<ul class="socail-icon">
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- /copayright -->
			</div>
		</div>
		<!-- /footer -->
	</footer>
	<div class="scroll-to-top scroll-to-target" data-target=".hide-bg"><span class="icon fa fa-angle-up"></span></div>
    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-dropdownhover.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.fittext.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <!--  countTo JavaScript  -->
    <script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
    <!--  Custom Theme JavaScript  -->
    <script src="assets/js/custom.js"></script>
    <!-- owl carousel -->
    <script src="assets/owl-carousel/owl.carousel.js"></script>
</body>

</html>