<!DOCTYPE html>
<html lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Kobone- Bootstrap Template</title>
    <!-- Standard -->
    <link rel="shortcut icon" href="assets/images/ficon.png">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <!-- Dropdownhover CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-dropdownhover.min.css" type="text/css">
    <!-- fonts awesome -->
    <link rel="stylesheet" href="assets/font/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <!-- slider CSS -->
    <link rel="stylesheet" href="assets/css/slider.css" type="text/css">
    <!-- Owl Carousel Assets -->
    <link href="assets/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="loading"> </div>
    </div>
   <header class="hide-bg">
		<!-- header -->
		<div id="mainNav" class="navbar-fixed-top">
			<div class="container">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="logo"> KOB<span>one</span> </div>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-9">
					<!--  nav  -->
					<nav class="navbar navbar-inverse navbar-default">

						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations=" fadeInLeft fadeInUp fadeInRight">
                            <ul class="nav navbar-nav">

                              <li class="menu-item dropdown">
                                <a href="index.html">Home</a>

                              </li>
                              <li><a href="coupons.html">COUPONS & DEALS</a></li>
                                <li><a href="stores.blade.php">STORS</a></li>
                                <li><a href="categories.html">CATEGORIES</a></li>

                              <li><a href="news.html">BLOG</a></li>

                              <li><a href="contact.html">CONTACT</a></li>
                              <li>
                                    <a href="#" data-toggle="modal" data-target=".popup1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>


                            </ul>
                            <!-- /.navbar-collapse -->
                        </div>
					</nav>
					<!--  /nav  -->
					<!-- search-popup -->
					<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content search-popup">
								<div class="search-outer">
									<div class="row">
										<div class="col-md-11">
											<input type="text" placeholder="Search for products..." />
										</div>
										<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /search-popup -->
				</div>
			</div>
		</div>
		<!-- /header -->

        <!-- header bg -->
		<div class="header-bg">
			<div class="container">
				<div class="header-text">
					<h1 class="wow slideInDown" data-wow-delay="300ms" data-wow-duration="1500ms">Only the best coupons</h1>
					<h2 class="wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">Over 20 000+ deals. Grab one now!</h2>
					<div class="header-search">
						<input type="text" placeholder="Search For Coupons... " />
						<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
					</div>
					<a href="#featured" class="mouse-icon"><img src="assets/images/mouse-icon.png" alt="mouse-icon" /></a>
				</div>
			</div>
		</div>
		<!-- header bg end -->


	</header>
	<section class="list-store">
        <!-- list-store -->
        <div class="container">
            <div class="row">
                <!-- list-store-left -->
                <div class="col-sm-12 col-md-8 col-xs-12">
                    <!-- our-details-outer -->
                    <div class="our-details-outer"> <img src="assets/images/our-detail-img-lg.jpg" alt="cupon-icon">
                        <div class="our-details-text"> <a href="#" class="our-detail-heading">Curabitur posuere facilisis felis eu aliquet Donec eleifenddictumDonec  semtortor justo</a>
                            <ul>
                                <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12 comments </a></li>
                                <li><a href="#"><i class="fa fa-calendar-o" aria-hidden="true"></i> 12,02,2017  </a></li>
                                <li><a href="#"><i class="fa fa-eye-slash" aria-hidden="true"></i> 137</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mo g elit. Aenean commodo lig ula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mo </p> <a href="#" class="read-more">Read More</a> </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6"> <img src="assets/images/our-detail-img-lg2.jpg" alt="cupon-icon"> </div>
                            <div class="col-md-6 col-sm-6 col-xs-6"> <img src="assets/images/our-detail-img-lg3.jpg" alt="cupon-icon"> </div>
                        </div>
                        <div class="our-details-text">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mo g elit. Aenean commodo lig ula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mo </p>
                            <p>ng elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mo g elit. Aenean commodo lig ula eget dolor.</p>
                            <h4>Ut vel pretium sapien. Nulla dictum tellus dolor, eget mattis ex euismod ac.
Vivamus accums orci, at vestibulum nisl egestas in. Sed eget lorem diam.</h4> </div> <img src="assets/images/our-detail-img-lg4.jpg" alt="cupon-icon">
                        <div class="our-details-text"> <a href="#" class="our-detail-heading">Curabitur posuere facilisis felis eu aliquet Donec eleifenddictumDonec  semtortor justo</a>
                            <ul>
                                <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12 comments </a></li>
                                <li><a href="#"><i class="fa fa-calendar-o" aria-hidden="true"></i> 12,02,2017  </a></li>
                                <li><a href="#"><i class="fa fa-eye-slash" aria-hidden="true"></i> 137</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mo g elit. Aenean commodo lig ula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mo </p>
                            <div class="our-details-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="row comment-text">
                                <div class="col-sm-2 col-md-2"> <img src="assets/images/comments-img1.jpg" alt="cupon-icon"> </div>
                                <div class="col-sm-10 col-md-10">
                                    <h4>Anna D.</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibusus et magnis dis parturient mo g elit. Aenean commodo lig ula eget dolor. Aenean massa</p> <span>Apl 23, 2016</span> <a href="#">Reply</a> </div>
                            </div>
                            <div class="row comment-text">
                                <div class="col-sm-2 col-md-2"> <img src="assets/images/comments-img2.jpg" alt="cupon-icon"> </div>
                                <div class="col-sm-10 col-md-10">
                                    <h4>Anna D.</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibusus et magnis dis parturient mo g elit. Aenean commodo lig ula eget dolor. Aenean massa</p> <span>Apl 23, 2016</span> <a href="#">Reply</a> </div>
                            </div>
                        </div>
                        <div id="comments" class="comments-area">
                            <div id="respond" class="comment-respond">
                                <form action="#" method="post" id="commentform" class="comment-form">
                                    <h4>leave a comment</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="comment-form-author">
                                                <input id="author" name="author" value="" size="30" type="text" placeholder="your name">
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="comment-form-email">
                                                <input id="email" name="email" value="" size="30" type="text" placeholder="email">
                                            </p>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="comment-form-comment">
                                                <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="comment"></textarea>
                                            </p>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="form-submit">
                                                <input name="submit" id="submit" class="btn btn-secondary" value="post a comment" type="submit">
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- our-details-outer -->
                </div>
                <!-- list-store-left end -->
                <!-- list-store-right -->
                <div class="col-sm-12 col-md-4 col-xs-12 right-side">
                    <!-- search weight -->
                    <div class="weight search">
                        <div class="search-box">
                            <input placeholder="Search For Coupons... " type="text"> <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a> </div>
                    </div>
                    <!-- /search weight -->
                    <!-- shop-recommended weight -->
                    <div class="weight shop-recommended">
                        <div class="recent-outer">
                            <h4>recent posts</h4>
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-3"> <img src="assets/images/recent-img1.jpg" alt="cupon-icon"> </div>
                                        <div class="col-sm-9 col-md-9"> <a href="#"><strong>In hac habitasse platea aptent taciti</strong></a>
                                            <p>Apl 23, 2016</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-3"> <img src="assets/images/recent-img2.jpg" alt="cupon-icon"> </div>
                                        <div class="col-sm-9 col-md-9"> <a href="#"><strong>In hac habitasse platea aptent taciti</strong></a>
                                            <p>Apl 23, 2016</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-3"> <img src="assets/images/recent-img3.jpg" alt="cupon-icon"> </div>
                                        <div class="col-sm-9 col-md-9"> <a href="#"><strong>In hac habitasse platea aptent taciti</strong></a>
                                            <p>Apl 23, 2016</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-3"> <img src="assets/images/recent-img4.jpg" alt="cupon-icon"> </div>
                                        <div class="col-sm-9 col-md-9"> <a href="#"><strong>In hac habitasse platea aptent taciti</strong></a>
                                            <p>Apl 23, 2016</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- / shop-recommended weight -->
                    <!-- categories tag -->
                    <div class="weight tags">
                        <h4>categories</h4>
                        <ul>
                            <li><a href="#">some </a></li>
                            <li><a href="#">tags </a></li>
                            <li><a href="#">some </a></li>
                            <li><a href="#">tags </a></li>
                            <li><a href="#">some </a></li>
                            <li><a href="#">tags </a></li>
                        </ul>
                    </div>
                    <!-- /categories tag -->
                    <!-- categories weight -->
                    <div class="weight categories our-categories">
                        <h4>categories</h4>
                        <ul>
                            <li><a href="#">LifeStyle <span>(11)</span> </a></li>
                            <li><a href="#">People <span>(14)</span> </a></li>
                            <li><a href="#">flipit <span>(15)</span> </a></li>
                            <li><a href="#">Food & Drink <span>(16)</span> </a></li>
                            <li><a href="#">Sport <span>(21)</span> </a></li>
                        </ul>
                    </div>
                    <!-- /categories weight -->
                    <!-- search weight -->
                    <div class="weight search">
                        <h4>SUBSCRIBE TO NEWSLETTER</h4>
                        <div class="search-box">
                            <input placeholder="Email" type="text"> <a href="#">ok</a> </div>
                    </div>
                    <!-- /search weight -->
                </div>
                <!-- list-store-right end -->
            </div>
        </div>
        <!-- list-store end -->
    </section>
    <footer>
		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>SUPPORT </h2>
						<ul>
							<li><a href="#">Using A Coupon</a></li>
							<li><a href="#">Submitting A Coupon</a></li>
							<li><a href="#">Managing My Account </a></li>
							<li><a href="#">Merchant Help</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>PAGES </h2>
						<ul>
							<li><a href="#">Using A Coupon</a></li>
							<li><a href="#">Submitting A Coupon</a></li>
							<li><a href="#">Managing My Account </a></li>
							<li><a href="#">Merchant Help</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3">
						<h2>CONTACT</h2>
						<ul>
							<li>
								<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
								<div class="ftext">+01 123 456 78
									<br/> +01 123 556 89</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
								<div class="ftext">Info@OurDomain.Com</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
								<div class="ftext">09 Design Street, Mitri, Victoria, Australia.</div>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-sm-3 col-md-3 col-xs-12">
						<h2>SUBSCRIBE</h2>
						<p>tetuer adipiscing elit. Aenean comm ligula eget dolor. Aenean massa odo ligula eget dolor. </p>
						<div class="subscribe">
							<input type="text" placeholder="Address" /> <a href="#">GO</a> </div>
					</div>
				</div>
				<!-- copayright -->
				<div class="copayright">
					<div class="copayright-left">kobone 2017 Designed by envato</div>
					<div class="copayright-right">
						<ul class="socail-icon">
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- /copayright -->
			</div>
		</div>
		<!-- /footer -->
	</footer>

    <div class="scroll-to-top scroll-to-target" data-target=".hide-bg"><span class="icon fa fa-angle-up"></span></div>
    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-dropdownhover.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.fittext.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <!--  countTo JavaScript  -->
    <script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
    <!--  Custom Theme JavaScript  -->
    <script src="assets/js/custom.js"></script>
    <!-- owl carousel -->
    <script src="assets/owl-carousel/owl.carousel.js"></script>
</body>


</html>
